@charset "UTF-8";
/*
pequenas telas: até 600px
celulares: 600px até 768px
tablets: 768px até 992px
desktops: 992px - 1200px
grandes telas: acima de 1200px
*/
@media screen and (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
    }
    i#burguer {
        display: none;

    }
    menu {
        display: block;
       
    }
    menu ul li a{
        display: inline-block;
       
    }
    
    main {
    width: 768px;
    background-color: black;
    
}
section#redes-sociais{
    text-align: right;
    position: relative;
    
}
picture img {
    width: 80vh;
    height: auto;
}
/*página 02*/
section.container {
    border: 2px solid;
    border-radius: 5px;
    display: inline-block;
    justify-content: space-between;
    }
    li{
        text-align: justify;
    }
}