@charset "UTF-8";

@media screen and (max-width: 768px) {
* {
    margin: 0;
    padding: 0;
}
  
body {
    width: 100vw;
    height: 100vh;
    
}

.section {
    width: 90%;
    height: auto;
    background-color: #ebf6ff;
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: auto;
        
}
.section, .impar, .par p{
    text-indent: 3em; /*recuo de parágrafo*/
}
  
.impar {
    background-color: #dfedff;
    color: rgb(0, 0, 0);
    text-align: justify;
padding-right: 25%;
}
.par {
    padding-left: 25%;
}
  
.nav {
    width: 90%;
    height: auto;
    background-color: #3944F7;
    font-size: 0.5em;
    color: rgb(0, 0, 0);
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    place-items: center;
    margin: auto;
    position: auto;
}
  
.btn {
    color: white;
    background-color: #4666cf;
    height: 50px;
    width: 200px;
    padding: 6px;
    border: 2px solid black;
    text-decoration: none;
    margin: center center;
    font-size: auto;
    font-size: 13px;
    
}

.btn:hover {
    background-color: #3944F7;
    }
    section#redes-sociais{
        text-align: right;
        position: fixed;
    }
    
    section#redes-sociais img {
        width: 30px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
        display: inline-block;
        text-align: center;
    }
    
    section#redes-sociais img:hover {
    
        border: 2px solid rgba(255, 255, 255, 0.637);
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
        transition: transform 0.3s, border 1s;
    }
}


@media screen and (min-width: 769px) {
    * {
        margin: 0;
        padding: 0;
    }
      
    body {
        width: 100vw;
        height: 100vh;
    }
    
    .section {
        width: 90%;
        height: auto;
        background-color: #ebf6ff;
        font-size: 15px;
        color: rgb(0, 0, 0);
        text-align: justify;
        margin: auto;
            
    }
    .section, .impar, .par p{
        text-indent: 3em; /*recuo de parágrafo*/
    }
      
    .impar {
        background-color: #dfedff;
        color: rgb(0, 0, 0);
        text-align: justify;
    padding-right: 25%;
    }
    .par {
        padding-left: 25%;
    }
    .nav {
        width: 90%;
        height: 45px;
        background-color: #4666cf;
        font-size: 1.5em;
        color: rgb(255, 255, 255);
        text-align: center;
        margin: auto;
       
        display: inline-block;
        flex-direction: row;
        justify-content: space-around;
    }
        
        
      
    .btn {
        color: rgb(255, 255, 255);
       
        height: 80vw;
        width: 500px;
        border-bottom: 1px solid black;
        justify-content: space-between;
        text-decoration: none;
        margin: center;
        font-size: 20px;
        
        
    }
    
    .btn:hover {
        background-color: #36c7f3;
        color: black;
        border-radius: 5px;
        }
        section#redes-sociais{
            text-align: right;
            position: fixed;
        }
        
        section#redes-sociais img {
            width: 30px;
            margin: 10px;
            border-radius: 50%;
            box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
            display: inline-block;
            text-align: center;
        }
        
        section#redes-sociais img:hover {
        
            border: 2px solid rgba(255, 255, 255, 0.637);
            transform: translate(-3px, -3px);
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
            transition: transform 0.3s, border 1s;
        }
        /*página 02*/
    section.container {
        border: 2px solid;
        border-radius: 5px;
        display: inline-block;
        justify-content: space-between;
        }
}
