@charset "UTF-8";

/* color: #000029, #000041, #030A8C, #078C03, #6F9C43;
phones: até 600px
tablets: 600px até 768px
desktops: 992px - 1200px
grandes telas: acima de 1200px*/


@media screen and (max-width: 768px) {    


*{  
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
body, html{
    background-image: linear-gradient(to right, #a9c9ee, #03588C);
    width: 100vw;
    height: 100vh;
}
header{
    
    text-align: center;
}
header img{
    display: block;
    margin: auto;
}
 menu{
  
        display: none;
    }
i#burguer {
        width: 80vw;
        background-color: #7daadf;
        color: white;
        display: block;
        text-align: center;
        cursor: pointer;
        margin: auto;
        border-radius:  10px 10px 0px 0px;
        padding: 10px;
}
i#burguer:hover {
        background-color: white;
        color: black;
        
    }
   
    menu ul{
        list-style-type: circle;
        width: 80vw;
        margin: auto;
        
    }
    
    menu ul li {
        display: block;
    }

    menu ul li a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background-color: #4d92df;
        border-top: 2px solid black;
        }
    menu ul li a:hover {
        background-color: rgb(79, 40, 187);
    }
    menu a{
        color: #411f00;
        
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.5s;
       
        
    }
        menu a:hover{
            background-color: #6F9C43;
            color: #000029;
    }

picture img {
    width: 50%;
    height: 50%;
}


main{
    background-color: white;
    box-shadow: 5px 5px 15px rgba(163, 89, 45, 0.616);
    width: 80vw; 
    text-align: center;
    padding: 10px;
    margin: auto;
    

}
/* para modificar o texto:*/
h1{color: #000041;
text-align: center;
text-shadow: 1px 1px 2px  rgba(129, 77, 5, 0.726);
font-size: 2em;
margin: auto;
}
h2{color: #03588C;
    font-size: 1em;
    text-align: left;
    margin: 10px;
}
p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    margin: 10px;
}
h3  {
    text-align: center;
    margin: 10px;
    font-size: 1em;
}

li {font-size: 0.9em;
}

.biblioteca {
    background-color: #dfeeff;
}
    



section#redes-sociais{
    text-align: right;
    position: fixed;
}

section#redes-sociais img {
    width: 30px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
    display: inline-block;
    text-align: center;
}

section#redes-sociais img:hover {

    border: 2px solid rgba(255, 255, 255, 0.637);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
    transition: transform 0.3s, border 1s;
}
/*página 02*/
section.container {
    border: 2px solid;
    border-radius: 5px;
    display: inline-block;
    justify-content: space-between;
    }

li{
    text-align: justify;
}
}


@media screen and (min-width: 768px){
    * {
        margin: 0;
        padding: 0;
    }
    i#burguer {
        display: block;
        cursor: pointer;
        margin: auto;
        color: #412a00;
        width: 80vw;
        border-radius: 5px 5px 0px 0px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.0s;
        background-color: #4D92DF; /*cor do menu fechado*/
        margin:auto;
    }
    i#burguer:hover{
        background-color: white;
    }
    i#burguer a:hover{
        cursor: pointer;
    }
    menu {
        display: none;
       cursor: pointer;
        margin: auto;
        background-color: #4D92DF; /*cor do menu aberto*/
        border-radius: 0px;
        width: 80vw;
    }
    menu ul li {
        display: inline-block;
       
    }
    
   
    /*a seguir o que for igual ao de @media celular*/
    *{  
        font-family: Arial, Helvetica, sans-serif;
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        overflow-x: hidden;
        
    }
    body, html{
        background-image: linear-gradient(to right, #a9c9ee, #03588C);
        width: 100vw;
        height: 100vh;
    }
    header{
        
        text-align: center;
    }
    header img{
        display: block;
        margin: auto;
    }
    
    section#redes-sociais{
        text-align: right;
        position: fixed;
    }
    
    section#redes-sociais img {
        width: 50px;
        margin: 10px;
        border-radius: 50%;
        box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.400);
        display: inline-block;
        text-align: center;
    }
    
    section#redes-sociais img:hover {
    
        border: 2px solid rgba(255, 255, 255, 0.637);
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.623);
        transition: transform 0.3s, border 1s;
    }
    menu ul li a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        background-color: #4D92DF;
        border-top: 2px solid black;
        }
    menu ul li a:hover {
        background-color: rgb(47, 231, 231);
    }
    menu ul li {
        margin: auto;
    }
    menu a{
        color: #412a00;
        width: auto;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.5s;
        background-color: #4d92df;
        margin:auto;
        
        
    }
        menu a:hover{
            background-color: #6F9C43;
            color: #000029;
    }
    picture img {
        width: 80vh;
        height: auto;
    }
main{
    background-color: white;
    box-shadow: 5px 5px 15px rgba(163, 89, 45, 0.616);
    width: 80vw; 
    text-align: center;
    padding: 10px;
    margin: auto; 
}
/* para modificar o texto:*/
h1{color: #000041;
    text-align: center;
    text-shadow: 1px 1px 2px  rgba(129, 77, 5, 0.726);
    font-size: 2em;
    margin: auto;
    }
    h2{color: #03588C;
        font-size: 1em;
        text-align: left;
        margin: 10px;
    }
    p{
        text-align: justify;
        font-family: Arial, Helvetica, sans-serif;
        text-indent: 50px;
        margin: 10px;
    }
    h3  {
        text-align: center;
        margin: 10px;
        font-size: 1em;
    }
    
    li {font-size: 0.9em;}
    
    .biblioteca {
        background-color: #dfeeff;
    }
/*página 02*/
    section.container {
        border: 2px solid;
        border-radius: 5px;
        display: inline-block;
        justify-content: space-between;
        }
    
        li{
            text-align: justify;
        }        
}